In [1]:
import pandas as pd

In [2]:
df1= pd.DataFrame({
    'A':['A0','A1','A2','A3'],
    'B':['B0','B1','B2','B3'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']},
    index=[0,1,2,3])
df2= pd.DataFrame({
    'A':['A4','A5','A6','A7'],
    'B':['B4','B5','B6','B7'],
    'C':['C4','C5','C6','C7'],
    'D':['D4','D5','D6','D7']},
    index=[4,5,6,7])
df3= pd.DataFrame({
    'A':['A8','A9','A10','A11'],
    'B':['B8','B9','B10','B11'],
    'C':['C8','C9','C10','C11'],
    'D':['D8','D9','D10','D11']},
    index=[8,9,10,11])

In [3]:
result=pd.concat([df1,df2,df3])
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [4]:
result=pd.concat([df1,df2,df3],keys=['x','y','z']) #인덱스값주고 병합 
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [5]:



df4= pd.DataFrame({                     #같은것끼리 병합되고 같은 값이 없을경우 없는값
    'B':['B2','B3','B6','B7'], 
    'D':['D2','D3','D6','D7'],
    'F':['F2','F3','F6','F7']},
    index=[2,3,6,7])
result=pd.concat([df1,df4],axis=1)

In [6]:
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [7]:


result=pd.concat([df1,df4],axis=1,join='inner')# 같은것끼리 조인하여 나타냄 
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [8]:


result=pd.concat([df1,df4],axis=1,join='inner')# 같은것끼리 조인하여 나타냄 
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [10]:
result=pd.concat([df1,df4],axis=1,join_axes=[df1.index])# df1 값을 중심으로 전부나타나줄수 있게해줌 

result

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

In [12]:
result=pd.concat([df1,df4],sort=False) #axis=0 , axis값 정의 안되있으면 행값이 기본값 
                                       #행값으로 그냥 병합 시키기

result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [13]:
import numpy as np
import pandas as pd

In [14]:
crime = pd.read_excel("../data/crime.xls",encoding='utf-8')
crime.head()

,기간,자치구,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
0,기간,자치구,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
1,2017,합계,107835,79865,142,140,169,170,6963,6558,41162,21421,59399,51576
2,2017,종로구,4057,4437,7,9,10,15,253,1412,1644,905,2143,2096
3,2017,중구,4184,2851,1,-,9,9,267,149,1846,889,2061,1804
4,2017,용산구,4060,2936,1,1,5,4,327,289,1346,626,2381,2016

In [15]:
crime = pd.read_excel("../data/crime.xls",encoding='utf-8',
                     usecols='B,C,E,G,I,K,M')

In [16]:
crime

     자치구      합계   살인   강도 강간강제추행     절도     폭력
0    자치구      발생   발생   발생     발생     발생     발생
1     합계  107835  142  169   6963  41162  59399
2    종로구    4057    7   10    253   1644   2143
3     중구    4184    1    9    267   1846   2061
4    용산구    4060    1    5    327   1346   2381
5    성동구    2767    1    3    132   1072   1559
6    광진구    4646    6   13    261   2220   2146
7   동대문구    3975   11    3    165   1547   2249
8    중랑구    4571    5    3    172   1533   2858
9    성북구    3434    7    8    173   1344   1902
10   강북구    3393    8    7    208   1014   2156
11   도봉구    1999    1    3    104    633   1258
12   노원구    4209    4    9    180   1538   2478
13   은평구    3883    6    4    230   1387   2256
14  서대문구    3113    4    1    202   1230   1676
15   마포구    5278    3    8    500   2094   2673
16   양천구    3882    3    3    138   1590   2148
17   강서구    5135   11    4    316   1888   2916
18   구로구    4895    7    8    328   1725   2827
19   금천구    3265    5    5    240   1141   1874
20  영등포구    5969   15    5    455   2304   3190
21   동작구    3330    1    7    396   1226   1700
22   관악구    5525    8    7    379   1979   3152
23   서초구    4708    9   13    470   1812   2404
24   강남구    7720    7   20    607   3130   3956
25   송파구    5576    6    1    288   2274   3007
26   강동구    4261    5   10    172   1645   2429

In [17]:
crime.head()

   자치구      합계   살인   강도 강간강제추행     절도     폭력
0  자치구      발생   발생   발생     발생     발생     발생
1   합계  107835  142  169   6963  41162  59399
2  종로구    4057    7   10    253   1644   2143
3   중구    4184    1    9    267   1846   2061
4  용산구    4060    1    5    327   1346   2381

In [18]:
crime.drop([0],inplace=True)

In [20]:
crime.head()

   자치구      합계   살인   강도 강간강제추행     절도     폭력
1   합계  107835  142  169   6963  41162  59399
2  종로구    4057    7   10    253   1644   2143
3   중구    4184    1    9    267   1846   2061
4  용산구    4060    1    5    327   1346   2381
5  성동구    2767    1    3    132   1072   1559

In [21]:
crime.drop([1],inplace=True)

In [22]:
crime

     자치구    합계  살인  강도 강간강제추행    절도    폭력
2    종로구  4057   7  10    253  1644  2143
3     중구  4184   1   9    267  1846  2061
4    용산구  4060   1   5    327  1346  2381
5    성동구  2767   1   3    132  1072  1559
6    광진구  4646   6  13    261  2220  2146
7   동대문구  3975  11   3    165  1547  2249
8    중랑구  4571   5   3    172  1533  2858
9    성북구  3434   7   8    173  1344  1902
10   강북구  3393   8   7    208  1014  2156
11   도봉구  1999   1   3    104   633  1258
12   노원구  4209   4   9    180  1538  2478
13   은평구  3883   6   4    230  1387  2256
14  서대문구  3113   4   1    202  1230  1676
15   마포구  5278   3   8    500  2094  2673
16   양천구  3882   3   3    138  1590  2148
17   강서구  5135  11   4    316  1888  2916
18   구로구  4895   7   8    328  1725  2827
19   금천구  3265   5   5    240  1141  1874
20  영등포구  5969  15   5    455  2304  3190
21   동작구  3330   1   7    396  1226  1700
22   관악구  5525   8   7    379  1979  3152
23   서초구  4708   9  13    470  1812  2404
24   강남구  7720   7  20    607  3130  3956
25   송파구  5576   6   1    288  2274  3007
26   강동구  4261   5  10    172  1645  2429

In [23]:
crime=crime.rename(columns={crime.columns[0]:'구별'})


crime.head()

    구별    합계 살인  강도 강간강제추행    절도    폭력
2  종로구  4057  7  10    253  1644  2143
3   중구  4184  1   9    267  1846  2061
4  용산구  4060  1   5    327  1346  2381
5  성동구  2767  1   3    132  1072  1559
6  광진구  4646  6  13    261  2220  2146

In [24]:
crime.set_index('구별',inplace=True)
crime.head()

       합계 살인  강도 강간강제추행    절도    폭력
구별
종로구  4057  7  10    253  1644  2143
중구   4184  1   9    267  1846  2061
용산구  4060  1   5    327  1346  2381
성동구  2767  1   3    132  1072  1559
광진구  4646  6  13    261  2220  2146

In [25]:
crime.sum(0)

합계        107835.0
살인           142.0
강도           169.0
강간강제추행      6963.0
절도         41162.0
폭력         59399.0
dtype: float64

In [26]:
crime.sum()

합계        107835.0
살인           142.0
강도           169.0
강간강제추행      6963.0
절도         41162.0
폭력         59399.0
dtype: float64

In [27]:
crime.sum(1)

구별
종로구      8114.0
중구       8368.0
용산구      8120.0
성동구      5534.0
광진구      9292.0
동대문구     7950.0
중랑구      9142.0
성북구      6868.0
강북구      6786.0
도봉구      3998.0
노원구      8418.0
은평구      7766.0
서대문구     6226.0
마포구     10556.0
양천구      7764.0
강서구     10270.0
구로구      9790.0
금천구      6530.0
영등포구    11938.0
동작구      6660.0
관악구     11050.0
서초구      9416.0
강남구     15440.0
송파구     11152.0
강동구      8522.0
dtype: float64

In [28]:

crime.mean()

합계        4313.40
살인           5.68
강도           6.76
강간강제추행     278.52
절도        1646.48
폭력        2375.96
dtype: float64

In [29]:
crime.mean(1)

구별
종로구     1352.333333
중구      1394.666667
용산구     1353.333333
성동구      922.333333
광진구     1548.666667
동대문구    1325.000000
중랑구     1523.666667
성북구     1144.666667
강북구     1131.000000
도봉구      666.333333
노원구     1403.000000
은평구     1294.333333
서대문구    1037.666667
마포구     1759.333333
양천구     1294.000000
강서구     1711.666667
구로구     1631.666667
금천구     1088.333333
영등포구    1989.666667
동작구     1110.000000
관악구     1841.666667
서초구     1569.333333
강남구     2573.333333
송파구     1858.666667
강동구     1420.333333
dtype: float64

In [30]:
crime.drop(['종로구'],inplace=False).head()

        합계  살인  강도 강간강제추행    절도    폭력
구별
중구    4184   1   9    267  1846  2061
용산구   4060   1   5    327  1346  2381
성동구   2767   1   3    132  1072  1559
광진구   4646   6  13    261  2220  2146
동대문구  3975  11   3    165  1547  2249

In [31]:
crime.head()

       합계 살인  강도 강간강제추행    절도    폭력
구별
종로구  4057  7  10    253  1644  2143
중구   4184  1   9    267  1846  2061
용산구  4060  1   5    327  1346  2381
성동구  2767  1   3    132  1072  1559
광진구  4646  6  13    261  2220  2146

In [32]:
crime.drop(['살인'],axis=1,inplace=False).head()

       합계  강도 강간강제추행    절도    폭력
구별
종로구  4057  10    253  1644  2143
중구   4184   9    267  1846  2061
용산구  4060   5    327  1346  2381
성동구  2767   3    132  1072  1559
광진구  4646  13    261  2220  2146

In [33]:
#del crime['강도']         #컬럼대상 삭제이고, 데이터에 바로반영됨

In [34]:
crime

        합계  살인  강도 강간강제추행    절도    폭력
구별
종로구   4057   7  10    253  1644  2143
중구    4184   1   9    267  1846  2061
용산구   4060   1   5    327  1346  2381
성동구   2767   1   3    132  1072  1559
광진구   4646   6  13    261  2220  2146
동대문구  3975  11   3    165  1547  2249
중랑구   4571   5   3    172  1533  2858
성북구   3434   7   8    173  1344  1902
강북구   3393   8   7    208  1014  2156
도봉구   1999   1   3    104   633  1258
노원구   4209   4   9    180  1538  2478
은평구   3883   6   4    230  1387  2256
서대문구  3113   4   1    202  1230  1676
마포구   5278   3   8    500  2094  2673
양천구   3882   3   3    138  1590  2148
강서구   5135  11   4    316  1888  2916
구로구   4895   7   8    328  1725  2827
금천구   3265   5   5    240  1141  1874
영등포구  5969  15   5    455  2304  3190
동작구   3330   1   7    396  1226  1700
관악구   5525   8   7    379  1979  3152
서초구   4708   9  13    470  1812  2404
강남구   7720   7  20    607  3130  3956
송파구   5576   6   1    288  2274  3007
강동구   4261   5  10    172  1645  2429

In [35]:
import matplotlib

In [37]:
filename="a.bin"
data=100

with open(filename,"wb") as f:
    f.write(bytearray([data]))

In [38]:
data

100

In [42]:
people=pd.read_excel('../data/Report.xls',
                      header=2,
                      usecols='B,D,G,J,N',
                      encoding='utf-8')           
people

      합계  335167  177339  6774  4096
0     합계  162741   90548  2755  1507
1     합계  172426   86791  4019  2589
2    종로구   10349    2958   261   372
3    종로구    4776    1379   119   172
4    종로구    5573    1579   142   200
5     중구   10200    3226   449    90
6     중구    4837    1559   175    27
7     중구    5363    1667   274    63
8    용산구   15283    2293   181   371
9    용산구    7878    1039    76   162
10   용산구    7405    1254   105   209
11   성동구   10009    4020   341   176
12   성동구    4913    1974   154    70
13   성동구    5096    2046   187   106
14   광진구   17503    9741   494   124
15   광진구    8092    4687   213    31
16   광진구    9411    5054   281    93
17  동대문구   16191    4520   908   216
18  동대문구    6888    2206   380    81
19  동대문구    9303    2314   528   135
20   중랑구    5770    2697   946   145
21   중랑구    2424    1244   422    32
22   중랑구    3346    1453   524   113
23   성북구   12177    1888   920   197
24   성북구    5356     845   366    58
25   성북구    6821    1043   554   139
26   강북구    4295    1915   383    99
27   강북구    1718     845   137    28
28   강북구    2577    1070   246    71
29   도봉구    2580     751   151    77
..   ...     ...     ...   ...   ...
47   강서구    8319    4106    82   118
48   강서구    4039    1931    27    49
49   강서구    4280    2175    55    69
50   구로구   40530   32997    84   113
51   구로구   21865   18239    35    36
52   구로구   18665   14758    49    77
53   금천구   25029   20590   117   129
54   금천구   13379   11171    59    59
55   금천구   11650    9419    58    70
56  영등포구   47757   39120    57   108
57  영등포구   25145   20821    27    40
58  영등포구   22612   18299    30    68
59   동작구   15412    8952    90   136
60   동작구    7291    4402    34    50
61   동작구    8121    4550    56    86
62   관악구   24466   16516   216   188
63   관악구   11675    8125    83    55
64   관악구   12791    8391   133   133
65   서초구    6667    1266    26   100
66   서초구    3291     505    10    42
67   서초구    3376     761    16    58
68   강남구    7985    1275    45   128
69   강남구    4051     489    10    53
70   강남구    3934     786    35    75
71   송파구    9746    5084   110   133
72   송파구    4698    2471    56    53
73   송파구    5048    2613    54    80
74   강동구    5893    3372   137   112
75   강동구    2786    1673    52    43
76   강동구    3107    1699    85    69

[77 rows x 5 columns]

In [43]:


people.columns=['구별','총인구수','한국인수','외국인수','고령자수']
people.head()

    구별    총인구수   한국인수  외국인수  고령자수
0   합계  162741  90548  2755  1507
1   합계  172426  86791  4019  2589
2  종로구   10349   2958   261   372
3  종로구    4776   1379   119   172
4  종로구    5573   1579   142   200

In [45]:

people.drop([0],inplace=True )
people 
#inplace 는 실제파일에도 적용여부

      구별    총인구수   한국인수  외국인수  고령자수
1     합계  172426  86791  4019  2589
2    종로구   10349   2958   261   372
3    종로구    4776   1379   119   172
4    종로구    5573   1579   142   200
5     중구   10200   3226   449    90
6     중구    4837   1559   175    27
7     중구    5363   1667   274    63
8    용산구   15283   2293   181   371
9    용산구    7878   1039    76   162
10   용산구    7405   1254   105   209
11   성동구   10009   4020   341   176
12   성동구    4913   1974   154    70
13   성동구    5096   2046   187   106
14   광진구   17503   9741   494   124
15   광진구    8092   4687   213    31
16   광진구    9411   5054   281    93
17  동대문구   16191   4520   908   216
18  동대문구    6888   2206   380    81
19  동대문구    9303   2314   528   135
20   중랑구    5770   2697   946   145
21   중랑구    2424   1244   422    32
22   중랑구    3346   1453   524   113
23   성북구   12177   1888   920   197
24   성북구    5356    845   366    58
25   성북구    6821   1043   554   139
26   강북구    4295   1915   383    99
27   강북구    1718    845   137    28
28   강북구    2577   1070   246    71
29   도봉구    2580    751   151    77
30   도봉구    1043    315    56    27
..   ...     ...    ...   ...   ...
47   강서구    8319   4106    82   118
48   강서구    4039   1931    27    49
49   강서구    4280   2175    55    69
50   구로구   40530  32997    84   113
51   구로구   21865  18239    35    36
52   구로구   18665  14758    49    77
53   금천구   25029  20590   117   129
54   금천구   13379  11171    59    59
55   금천구   11650   9419    58    70
56  영등포구   47757  39120    57   108
57  영등포구   25145  20821    27    40
58  영등포구   22612  18299    30    68
59   동작구   15412   8952    90   136
60   동작구    7291   4402    34    50
61   동작구    8121   4550    56    86
62   관악구   24466  16516   216   188
63   관악구   11675   8125    83    55
64   관악구   12791   8391   133   133
65   서초구    6667   1266    26   100
66   서초구    3291    505    10    42
67   서초구    3376    761    16    58
68   강남구    7985   1275    45   128
69   강남구    4051    489    10    53
70   강남구    3934    786    35    75
71   송파구    9746   5084   110   133
72   송파구    4698   2471    56    53
73   송파구    5048   2613    54    80
74   강동구    5893   3372   137   112
75   강동구    2786   1673    52    43
76   강동구    3107   1699    85    69

[76 rows x 5 columns]

In [46]:

people['외국인비율']=people['외국인수']/people['총인구수']*100
people

      구별    총인구수   한국인수  외국인수  고령자수      외국인비율
1     합계  172426  86791  4019  2589   2.330855
2    종로구   10349   2958   261   372   2.521983
3    종로구    4776   1379   119   172   2.491625
4    종로구    5573   1579   142   200   2.547999
5     중구   10200   3226   449    90   4.401961
6     중구    4837   1559   175    27   3.617945
7     중구    5363   1667   274    63   5.109081
8    용산구   15283   2293   181   371   1.184322
9    용산구    7878   1039    76   162   0.964712
10   용산구    7405   1254   105   209   1.417961
11   성동구   10009   4020   341   176   3.406934
12   성동구    4913   1974   154    70   3.134541
13   성동구    5096   2046   187   106   3.669545
14   광진구   17503   9741   494   124   2.822373
15   광진구    8092   4687   213    31   2.632229
16   광진구    9411   5054   281    93   2.985868
17  동대문구   16191   4520   908   216   5.608054
18  동대문구    6888   2206   380    81   5.516841
19  동대문구    9303   2314   528   135   5.675589
20   중랑구    5770   2697   946   145  16.395147
21   중랑구    2424   1244   422    32  17.409241
22   중랑구    3346   1453   524   113  15.660490
23   성북구   12177   1888   920   197   7.555227
24   성북구    5356    845   366    58   6.833458
25   성북구    6821   1043   554   139   8.121976
26   강북구    4295   1915   383    99   8.917346
27   강북구    1718    845   137    28   7.974389
28   강북구    2577   1070   246    71   9.545984
29   도봉구    2580    751   151    77   5.852713
30   도봉구    1043    315    56    27   5.369128
..   ...     ...    ...   ...   ...        ...
47   강서구    8319   4106    82   118   0.985695
48   강서구    4039   1931    27    49   0.668482
49   강서구    4280   2175    55    69   1.285047
50   구로구   40530  32997    84   113   0.207254
51   구로구   21865  18239    35    36   0.160073
52   구로구   18665  14758    49    77   0.262523
53   금천구   25029  20590   117   129   0.467458
54   금천구   13379  11171    59    59   0.440990
55   금천구   11650   9419    58    70   0.497854
56  영등포구   47757  39120    57   108   0.119354
57  영등포구   25145  20821    27    40   0.107377
58  영등포구   22612  18299    30    68   0.132673
59   동작구   15412   8952    90   136   0.583961
60   동작구    7291   4402    34    50   0.466328
61   동작구    8121   4550    56    86   0.689570
62   관악구   24466  16516   216   188   0.882858
63   관악구   11675   8125    83    55   0.710921
64   관악구   12791   8391   133   133   1.039794
65   서초구    6667   1266    26   100   0.389981
66   서초구    3291    505    10    42   0.303859
67   서초구    3376    761    16    58   0.473934
68   강남구    7985   1275    45   128   0.563557
69   강남구    4051    489    10    53   0.246853
70   강남구    3934    786    35    75   0.889680
71   송파구    9746   5084   110   133   1.128668
72   송파구    4698   2471    56    53   1.191997
73   송파구    5048   2613    54    80   1.069731
74   강동구    5893   3372   137   112   2.324792
75   강동구    2786   1673    52    43   1.866475
76   강동구    3107   1699    85    69   2.735758

[76 rows x 6 columns]

In [47]:
people['고령자비율']=people['고령자수']/people['총인구수']*100
people

      구별    총인구수   한국인수  외국인수  고령자수      외국인비율     고령자비율
1     합계  172426  86791  4019  2589   2.330855  1.501514
2    종로구   10349   2958   261   372   2.521983  3.594550
3    종로구    4776   1379   119   172   2.491625  3.601340
4    종로구    5573   1579   142   200   2.547999  3.588731
5     중구   10200   3226   449    90   4.401961  0.882353
6     중구    4837   1559   175    27   3.617945  0.558197
7     중구    5363   1667   274    63   5.109081  1.174716
8    용산구   15283   2293   181   371   1.184322  2.427534
9    용산구    7878   1039    76   162   0.964712  2.056359
10   용산구    7405   1254   105   209   1.417961  2.822417
11   성동구   10009   4020   341   176   3.406934  1.758417
12   성동구    4913   1974   154    70   3.134541  1.424791
13   성동구    5096   2046   187   106   3.669545  2.080063
14   광진구   17503   9741   494   124   2.822373  0.708450
15   광진구    8092   4687   213    31   2.632229  0.383094
16   광진구    9411   5054   281    93   2.985868  0.988205
17  동대문구   16191   4520   908   216   5.608054  1.334074
18  동대문구    6888   2206   380    81   5.516841  1.175958
19  동대문구    9303   2314   528   135   5.675589  1.451145
20   중랑구    5770   2697   946   145  16.395147  2.512998
21   중랑구    2424   1244   422    32  17.409241  1.320132
22   중랑구    3346   1453   524   113  15.660490  3.377167
23   성북구   12177   1888   920   197   7.555227  1.617804
24   성북구    5356    845   366    58   6.833458  1.082898
25   성북구    6821   1043   554   139   8.121976  2.037824
26   강북구    4295   1915   383    99   8.917346  2.305006
27   강북구    1718    845   137    28   7.974389  1.629802
28   강북구    2577   1070   246    71   9.545984  2.755142
29   도봉구    2580    751   151    77   5.852713  2.984496
30   도봉구    1043    315    56    27   5.369128  2.588686
..   ...     ...    ...   ...   ...        ...       ...
47   강서구    8319   4106    82   118   0.985695  1.418440
48   강서구    4039   1931    27    49   0.668482  1.213172
49   강서구    4280   2175    55    69   1.285047  1.612150
50   구로구   40530  32997    84   113   0.207254  0.278806
51   구로구   21865  18239    35    36   0.160073  0.164647
52   구로구   18665  14758    49    77   0.262523  0.412537
53   금천구   25029  20590   117   129   0.467458  0.515402
54   금천구   13379  11171    59    59   0.440990  0.440990
55   금천구   11650   9419    58    70   0.497854  0.600858
56  영등포구   47757  39120    57   108   0.119354  0.226145
57  영등포구   25145  20821    27    40   0.107377  0.159077
58  영등포구   22612  18299    30    68   0.132673  0.300725
59   동작구   15412   8952    90   136   0.583961  0.882429
60   동작구    7291   4402    34    50   0.466328  0.685777
61   동작구    8121   4550    56    86   0.689570  1.058983
62   관악구   24466  16516   216   188   0.882858  0.768413
63   관악구   11675   8125    83    55   0.710921  0.471092
64   관악구   12791   8391   133   133   1.039794  1.039794
65   서초구    6667   1266    26   100   0.389981  1.499925
66   서초구    3291    505    10    42   0.303859  1.276208
67   서초구    3376    761    16    58   0.473934  1.718009
68   강남구    7985   1275    45   128   0.563557  1.603006
69   강남구    4051    489    10    53   0.246853  1.308319
70   강남구    3934    786    35    75   0.889680  1.906457
71   송파구    9746   5084   110   133   1.128668  1.364662
72   송파구    4698   2471    56    53   1.191997  1.128140
73   송파구    5048   2613    54    80   1.069731  1.584786
74   강동구    5893   3372   137   112   2.324792  1.900560
75   강동구    2786   1673    52    43   1.866475  1.543431
76   강동구    3107   1699    85    69   2.735758  2.220792

[76 rows x 7 columns]

In [48]:
people['고령자비율']=people['고령자수']/people['총인구수']*100
people

      구별    총인구수   한국인수  외국인수  고령자수      외국인비율     고령자비율
1     합계  172426  86791  4019  2589   2.330855  1.501514
2    종로구   10349   2958   261   372   2.521983  3.594550
3    종로구    4776   1379   119   172   2.491625  3.601340
4    종로구    5573   1579   142   200   2.547999  3.588731
5     중구   10200   3226   449    90   4.401961  0.882353
6     중구    4837   1559   175    27   3.617945  0.558197
7     중구    5363   1667   274    63   5.109081  1.174716
8    용산구   15283   2293   181   371   1.184322  2.427534
9    용산구    7878   1039    76   162   0.964712  2.056359
10   용산구    7405   1254   105   209   1.417961  2.822417
11   성동구   10009   4020   341   176   3.406934  1.758417
12   성동구    4913   1974   154    70   3.134541  1.424791
13   성동구    5096   2046   187   106   3.669545  2.080063
14   광진구   17503   9741   494   124   2.822373  0.708450
15   광진구    8092   4687   213    31   2.632229  0.383094
16   광진구    9411   5054   281    93   2.985868  0.988205
17  동대문구   16191   4520   908   216   5.608054  1.334074
18  동대문구    6888   2206   380    81   5.516841  1.175958
19  동대문구    9303   2314   528   135   5.675589  1.451145
20   중랑구    5770   2697   946   145  16.395147  2.512998
21   중랑구    2424   1244   422    32  17.409241  1.320132
22   중랑구    3346   1453   524   113  15.660490  3.377167
23   성북구   12177   1888   920   197   7.555227  1.617804
24   성북구    5356    845   366    58   6.833458  1.082898
25   성북구    6821   1043   554   139   8.121976  2.037824
26   강북구    4295   1915   383    99   8.917346  2.305006
27   강북구    1718    845   137    28   7.974389  1.629802
28   강북구    2577   1070   246    71   9.545984  2.755142
29   도봉구    2580    751   151    77   5.852713  2.984496
30   도봉구    1043    315    56    27   5.369128  2.588686
..   ...     ...    ...   ...   ...        ...       ...
47   강서구    8319   4106    82   118   0.985695  1.418440
48   강서구    4039   1931    27    49   0.668482  1.213172
49   강서구    4280   2175    55    69   1.285047  1.612150
50   구로구   40530  32997    84   113   0.207254  0.278806
51   구로구   21865  18239    35    36   0.160073  0.164647
52   구로구   18665  14758    49    77   0.262523  0.412537
53   금천구   25029  20590   117   129   0.467458  0.515402
54   금천구   13379  11171    59    59   0.440990  0.440990
55   금천구   11650   9419    58    70   0.497854  0.600858
56  영등포구   47757  39120    57   108   0.119354  0.226145
57  영등포구   25145  20821    27    40   0.107377  0.159077
58  영등포구   22612  18299    30    68   0.132673  0.300725
59   동작구   15412   8952    90   136   0.583961  0.882429
60   동작구    7291   4402    34    50   0.466328  0.685777
61   동작구    8121   4550    56    86   0.689570  1.058983
62   관악구   24466  16516   216   188   0.882858  0.768413
63   관악구   11675   8125    83    55   0.710921  0.471092
64   관악구   12791   8391   133   133   1.039794  1.039794
65   서초구    6667   1266    26   100   0.389981  1.499925
66   서초구    3291    505    10    42   0.303859  1.276208
67   서초구    3376    761    16    58   0.473934  1.718009
68   강남구    7985   1275    45   128   0.563557  1.603006
69   강남구    4051    489    10    53   0.246853  1.308319
70   강남구    3934    786    35    75   0.889680  1.906457
71   송파구    9746   5084   110   133   1.128668  1.364662
72   송파구    4698   2471    56    53   1.191997  1.128140
73   송파구    5048   2613    54    80   1.069731  1.584786
74   강동구    5893   3372   137   112   2.324792  1.900560
75   강동구    2786   1673    52    43   1.866475  1.543431
76   강동구    3107   1699    85    69   2.735758  2.220792

[76 rows x 7 columns]

In [49]:
people.head()

    구별    총인구수   한국인수  외국인수  고령자수     외국인비율     고령자비율
1   합계  172426  86791  4019  2589  2.330855  1.501514
2  종로구   10349   2958   261   372  2.521983  3.594550
3  종로구    4776   1379   119   172  2.491625  3.601340
4  종로구    5573   1579   142   200  2.547999  3.588731
5   중구   10200   3226   449    90  4.401961  0.882353

In [50]:

people.columns=['구별','인구수','한국인','외국인','고령자','외국인비율','고령자비율']
people.set_index('구별',inplace=True)

In [51]:
people.head()

        인구수    한국인   외국인   고령자     외국인비율     고령자비율
구별
합계   172426  86791  4019  2589  2.330855  1.501514
종로구   10349   2958   261   372  2.521983  3.594550
종로구    4776   1379   119   172  2.491625  3.601340
종로구    5573   1579   142   200  2.547999  3.588731
중구    10200   3226   449    90  4.401961  0.882353

In [55]:
price = pd.read_csv("../data/price_nongsan.csv",encoding='euc-kr')
price

FileNotFoundError: File b'../data/price_nongsan.csv' does not exist